<div class="footer">
  <div class="footer__container">
    <div class="footer__list">
      <div class="footer__item">
        <img
          src="https://theme.hstatic.net/200000538213/1000921951/14/logo.png?v=460"
          alt="logo"
        />
        <h2>Cảm ơn các bạn đã tin tưởng và ủng hộ mình!</h2>
        <p>
          Betall Gear - Mang đến cho Khách Hàng dòng sản phẩm chất lượng nhất. Với
          phương châm lấy sự hài lòng của khách hàng làm thước đo sự phát triển
          , chúng tôi mong muốn mang đến trải nghiệm tuyệt vời nhất, cũng như
          đảm bảo chất lượng và hiệu quả sử dụng của sản phẩm sẽ đáp ứng mong
          đợi của quý khách hàng.
        </p>
      </div>
      <div class="footer__item">
        <h2>Thông tin liên hệ</h2>
        <ul>
          <li>SĐT/Zalo: <span>0906756517</span></li>
          <li>Địa chỉ: <span>54/3 ĐHT09, p.Đông hưng thuận, Q.12, Tp.HCM</span></li>
          <li>Google map: <span>Betall Gear</span></li>
        </ul>
      </div>
      <div class="footer__item">
        <h2>Phương thức thanh toán</h2>
        <ul>
          <li>Tiền mặt</li>
          <li>Banking</li>
        </ul>
      </div>
    </div>
  </div>
  <p class="footer__bottom">© Bản quyền thuộc về BetallGear.com.vn | Thiết kế và duy trì bởi TanLocIT</p>
</div>
