<div class="admin-login">
  <div class="admin-login__container">
    <img class="admin-login__logo" src="../../../assets/images/icon-logo-removebg-preview.png" alt="img">
    <h3 class="admin-login__title">Đăng nhập</h3>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" class="admin-login__input mt-3">
        <mat-label>Vui lòng nhập tên tài khoản/email</mat-label>
        <input matInput placeholder="Vui lòng nhập tên tài khoản/email" formControlName="email" required />
        <mat-error *ngIf="loginForm.controls['email'].errors?.['required']">
          Tên tài khoản/ email không được bỏ trống
        </mat-error>
        <mat-error *ngIf="loginForm.controls['email'].errors?.['email']">
          Tên tài khoản/ email phải đúng định dạng abc@gmail.com
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="admin-login__input mt-3">
        <mat-label>Vui lòng nhập mật khẩu</mat-label>
        <input matInput placeholder="Vui lòng nhập mật khẩu" [type]="hide ? 'password' : 'text'"
          formControlName="password" />
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
        <mat-error *ngIf="loginForm.controls['password'].errors?.['required']">
          Mật khẩu không được bỏ trống
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" class="admin-login__submit mt-3">
        Đăng nhập
      </button>
    </form>
  </div>
</div>
