<div class="header">
  <div class="header__container">
    <div class="header__left">
      <!-- <img
        src="https://theme.hstatic.net/200000538213/1000921951/14/logo.png?v=460"
        alt="logo"
      /> -->
    </div>
    <div class="header__menu">
      <a href="">Trang chủ</a>
      <div class="header__menu--product">
        <a href="">
          Sản phẩm
          <i class="fa-solid fa-chevron-down"></i>
        </a>
        <div class="dropdown-content">
          <a href="">Kit phím</a>
          <a href="">Switch</a>
          <a href="">Keycap</a>
          <a href="">Stab</a>
        </div>
      </div>
      <a href="">Giới thiệu</a>
      <a href="">Dịch vụ</a>
    </div>
    <div class="header__right">
      <button><i class="fa-solid fa-magnifying-glass"></i></button>
      <button class="header__auth" (click)="onShowDropdown()"><i class="fa-regular fa-user"></i></button>
      <div class="header__auth--dropdown" *ngIf="showAuthDropdown">
        <div>
          <a [routerLink]="'login'">Đăng nhập</a>
          <a [routerLink]="'/register'">Đăng ký</a>
        </div>
        <ng-template #showAuth>
          <a href="">Thông tin cá nhân</a>
          <a href="">Đăn xuất</a>
        </ng-template>
      </div>
      <button class="header__right--cart">
        <i class="fa-solid fa-cart-shopping"></i>
        <span>0</span>
      </button>
    </div>
  </div>
</div>