.register {
  &__input,
  &__submit {
    width: 100%;
  }
  &__submit {
    height: 50px;
    font-size: 18px;
  }
  &__router {
    margin: 10px 0 0;
    text-align: center;
    font-size: 16px;

    a {
      font-weight: 600;
    }
  }
}
