/* You can add global styles to this file, and also import other style files */

@import "ngx-toastr/toastr";
html,
body {
  height: 100%;
  font-size: 14px;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none !important;
  color: #000;
  cursor: pointer;
}
button {
  cursor: pointer;
  border: none;
}

h1, h2, h3, h4, h5, p {
  margin-bottom: 0 !important;
}

ul {
  padding: 0 !important;
  margin: 0 !important;
}

ul li {
  list-style: none;
  margin: 0 !important;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.toast-top-right {
  top: 8% !important;
}
